{% extends 'app/base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block banner %}

  {% endblock banner %}

{% block main-content %}
<div  style="background-color:aliceblue">
    <br>
    <h2 class="text-center">About</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">This is a public limited company having its registered and co-operate office at Pune City of Maharahstra State in India. The company was incorporated in year 2018 and production commenced in 2020.This is one of the fastest growing Public Limited Companies in Pune.</p>
    </div>
    <br>
    <br>
    <h2 class="text-center">Mission</h2><br>
    <div class="row container">
        <p class="fs-4 text-center">This is a public limited company having its registered and co-operate office at Pune City of Maharahstra State in India. The company was incorporated in year 2018 and production commenced in 2020.This is one of the fastest growing Public Limited Companies in Pune.</p>

    </div>
</div>
<br><br>
{% endblock %}