{% extends 'app/base.html' %}
{% load static %}

{% block title %}Wishlist{% endblock title %}

{% block main-content %}
<div class="container my-4">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for prod in product %}
                <div class="col-sm-6 text-center mb-4 hover-shadow">
                    <a href="{% url 'product-details' prod.product.id %}" class="btn">
                        <div>
                            <img src="{{prod.product.product_image.url}}" alt="" width="300px" height="300px">
                            <div class="fw-bold" style="color: rgb(91, 82, 82);">{{prod.product.title}}</div>
                            <div class="fw-bold text-danger">
                                Rs.{{prod.product.discount_price}}/-
                                <small class="fw-light text-decoration-line-through">{{prod.product.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}